<% content_for :profile_subview do %>
<div class="col-sm-12">
<%= render :partial=> 'shared/new_address', locals:{user_address:@user_address} %>
</div>



<% end %>
<%= render :template => 'layouts/profile_overview' %>